*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
}

.product-card{
  background-color: #567568;
}

#submitBtn{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #245E58;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#submitBtn:hover {background-color: #51A69A}

#submitBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#add{
      display: inline-block;
  padding: 9px 9px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #245E58;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
}

#quant{
  display: inline-block;
  padding: 10px 10px;
  font-size: 20px;
  text-align: center;
  float: left;
  box-shadow: 0 5px #999;

}
#add:hover {background-color: #51A69A}

#add:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#minus{
      display: inline-block;
  padding: 9px 11px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #245E58;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
  
}

#minus:hover {background-color: #51A69A}

#minus:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#shop{
  display: inline-block;
  padding: 9px 11px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #245E58;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
}

#shop:hover {background-color: #51A69A}

#shop:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#details{
  display: inline-block;
  padding: 9px 11px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #245E58;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
}

#details:hover {background-color: #51A69A}

#details:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#registerBtn{
  display: inline-block;
  padding: 9px 11px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #245E58;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
}

#registerBtn:hover {background-color: #51A69A}

#registerBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#submitLogBtn{
  display: inline-block;
  padding: 9px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #245E58;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
}

#submitLogBtn:hover {background-color: #51A69A}

#submitLogBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

